<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv=""X-UA-Compatible" content="IE=edge">
        <title>Charity Gamble - {{ title }}</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=VT323&display=swap" rel="stylesheet">
        <link href="/assets/css/style.css" rel="stylesheet">
        <script src="https://kit.fontawesome.com/203c33e277.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="terminal-container">
  <header class="terminal-bar">
  <div class="controls">
    <span class="dot red"></span>
    <span class="dot yellow"></span>
    <span class="dot green"></span>
  </div>
  <div class="terminal-path">
  guest@portfolio:~
  {%- if eleventyNavigation.key -%}
    {%- set navPages = collections.all | eleventyNavigationBreadcrumb(eleventyNavigation.key) -%}
    {%- for entry in navPages -%}
      /{{ entry.key | lower | replace(" ", "-") }}
    {%- endfor -%}
    /{{ eleventyNavigation.key | lower | replace(" ", "-") }}
  {%- endif -%}
</div>
</header>
  <nav class="terminal-nav">
    <ul>
      <li><a href="/">[ Home ]</a></li>
      <li><a href="/projects/">[ Projects ]</a></li>
      <li><a href="/labs/">[ Lab_Notes ]</a></li>
      <li><a href="/contact/">[ Contact ]</a></li>
    </ul>
  </nav>

  <main class="terminal-body">
    {{ content | safe }}
    <span class="cursor">█</span>
  </main>
</div>
</body>
</html>