---
layout: base.njk
title: "whoami"
eleventyNavigation:
    key: "whoami"
---
<h2>whoami</h2>
<p>I started building websites in 1999, when I taught myself HTML4.0. I soon graduated to XHTML and CSS, which turned to HTML5 and CSS. In 2003, I started working with WordPress by building HTML/CSS layouts and designs and then using WordPress to power the blog, including it into the HTML files using php includes. As time went on, I started using WordPress by itself, creating themes for blogs and websites. Today I customize pre-existing themes and I am working on full-site editing and creation using the block editor. My preferred technologies are HTML, CSS, and 11ty. I am planning to learn Tailwind CSS, SASS, Bootstrap, and advance my JavaScript skills to learn React.js.</p>
<p>I am currently a student at Pikes Peak State College, in my second year of an Associate of Applied Sciece in Cybersecurity. I am set to graduate in May 2026 with my AAS and plan to go on to PPSC's BAS program in Cybersecurity. I am currently CCST Cybersecurity, CompTIA A+, CompTIA Net+, and CompTIA Sec+ certified.</p>

<div class="cred-row">
  <span class="bracket">[</span> <span class="status-ok">OK</span> <span class="bracket">]</span>
  <span class="key">CompTIA Security+</span>
</div>
<div class="cred-row">
  <span class="bracket">[</span> <span class="status-ok">OK</span> <span class="bracket">]</span>
  <span class="key">CompTIA Network+</span>
</div>
<div class="cred-row">
  <span class="bracket">[</span> <span class="status-ok">OK</span> <span class="bracket">]</span>
  <span class="key">CompTIA A+</span>
</div>
<div class="cred-row">
  <span class="bracket">[</span> <span class="status-ok">OK</span> <span class="bracket">]</span>
  <span class="key">Cisco CCST Cybersecurity</span>
</div>
<div class="skills-section">
  <div class="skill-row">
    <span class="key">WEB_CORE:</span> 
    <span class="val">[ HTML5 ] [ CSS3 ] [ JavaScript ]</span>
  </div>
  
  <div class="skill-row">
    <span class="key">CMS_ENGINES:</span> 
    <span class="val">[ WordPress ] [ Eleventy ]</span>
  </div>
  
  <div class="skill-row">
    <span class="key">STYLING:</span> 
    <span class="val">[ Responsive Design ] [ Flexbox/Grid ]</span>
  </div>
</div>


