---
layout: base.njk
eleventyNavigation:
    key: Home
---
<h1>Charity Gamble</h1>
<p>Front-End Developer &map; Cybersecurity Student</p>
<p> I build accessible, responsive websites and am passionate about creating secure digital experiences. Welcome to my corner of the web.</p>
<a href="/assets/cgambleresume.pdf">Download my Résumé</a>

<div class="social-links">
    <div>&#35; --- System Aliases ---</div>
    <div>alias <a href="https://github.com/charitygamble" target="_blank" rel="noopener noreferrer">git='https://github.com/charitygamble'</a></div>
    <div>alias <a href="https://linkedin.com/in/charitygamble" target="_blank" rel="noopener noreferrer">in='https://linkedin.com/in/charitygamble'</a></div>
    <div>alias <a href="https://bsky.app/profile/cgambledev.bsky.social" target="_blank" rel="noopener noreferrer">bsky='https://bsky.app/profile/cgambledev.bsky.social'</a></div>

</div>