---
layout: clickhere.njk
title: Charity Gamble - Log In
---
<div class="login-wrap">
<section class="login">
cgambledev - login
<section class="login-box">
<br>
Warning: This site is best viewed on a computer...
<br><br>
<section class="username">
guest
</section>
<section class="password">
****************
</section>
<section class="desktop">
<a href="desktop.html">Log In</a>
</section>
</section>
</section>
</div>