---
layout: base.njk
eleventyNavigation:
    key: Home
---
<h1>Charity Gamble</h1>
<p>Front-End Developer &map; Cybersecurity Student</p>
<p> I build accessible, responsive websites and am passionate about creating secure digital experiences. Welcome to my corner of the web.</p>
<a href="https://charitygamble.dev/assets/cgambleresume.pdf">Download my Résumé</a>