---
title: "neofetch"
layout: "base.njk"
eleventyNavigation:
  key: "neofetch"
  order: 3
---

<div class="neofetch-container">
<pre class="ascii-logo">
      ___          
     /  /\         
    /  /::\        
   /  /:/\:\       
  /  /:/  \:\      
 /__/:/ \__\:\     
 \  \:\ /  /:/     
  \  \:\  /:/      
   \  \:\/:/       
    \  \::/        
     \__\/         
</pre>

<div class="fetch-data">
<span class="user-host">charity@cgambledev</span><br>
<span class="separator">----------------</span><br>
<div><span class="key">OS</span>: <a href="https://cloudflare.com" target="_blank" rel="noopener noreferrer">Cloudflare Pages (Linux)</a></div>
<div><span class="key">Host</span>: <a href=https://apple.com/mac-mini" target="_blank" rel="noopener noreferrer">Mac Mini</a> / <a href="https://https://www.dell.com/en-us/shop/dell-laptops/dell-15-laptop/spd/dell-dc15255-laptop/usedc15255hbtshqzm" target="_blank" rel="noopener noreferrer">Dell Inspiron 15</a></div>
<div><span class="key">Kernel</span>: <a href="https://11ty.dev" target="_blank" rel="noopener noreferrer">Build Awesome 4.0.0</a></div>
<div><span class="key">Uptime</span>: 2 years of dev</div>
<div><span class="key">Packages</span>: 42 (npm)</div>
<div><span class="key">Shell</span>: zsh / obsidian</div>
<div><span class="key">Font</span>: <a href="https://fonts.google.com/specimen/JetBrains+Mono" target="_blank" rel="noopener noreferrer">JetBrains Mono</a></div>
<div><span class="key">Terminal</span>: iTerm2 / PowerShell</div>
<div><span class="key">Editor</span>: <a href="https://obsidian.md" target="_blank" rel="noopener noreferrer">Obsidian.md</a></div>
<div><span class="key">Code</span>: <a href="https://vscodium.com" target="_blank" rel="noopener noreferrer">VSCodium</a></div>
<div class="color-row">
  <span class="key">Palette:</span>
  <div class="palette-container">
    <span class="block c-black"></span>
    <span class="block c-red"></span>
    <span class="block c-green"></span>
    <span class="block c-amber"></span>
    <span class="block c-blue"></span>
    <span class="block c-magenta"></span>
    <span class="block c-cyan"></span>
    <span class="block c-white"></span>
  </div>
</div>
</div>
</div>