---
title: "Projects"
layout: base.njk
eleventyNavigation:
    key: "projects"
---
<div class="project-list">
  <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/amy-kaybach/">amy kaybach</a></span>
    <span class="file-desc"># WordPress based author website for indie romance author Amy Kaybach</span>
  </div>

  <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/cozy-books">cozy books n games</a></span>
    <span class="file-desc"># WordPress based book blog created for myself</span>
  </div>

  <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/spooky-bookshelf">the spooky bookshelf</a></span>
    <span class="file-desc"># My Build Awesome SSG indie web site</span>
  </div>

    <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/portfolio-one">charity gamble previous portfolio v1</a></span>
    <span class="file-desc"># First version of my portfolio site</span>
  </div>

      <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/portfolio-two">charity gamble previous portfolio v2</a></span>
    <span class="file-desc"># Second version of my portfolio site</span>
  </div>

  <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/codelab">codelab</a></span>
    <span class="file-desc"># Web based code editor, built from a tutorial</span>
  </div>

  <div class="project-item">
    <span class="file-meta">-rw-r--r--</span>
    <span class="file-name"><a href="/projects/portfolio-three">current portfolio</a></span>
    <span class="file-desc"># Build Awesome SSG, vibe coded with Gemini, tweaked by me</span>
  </div>
</div>